.overlay {
  top: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  position: fixed;
  z-index: 999;
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectButton {
  border: none;
  background-color: white;
  font-size: 25px;
  padding: 10px;
  margin: 15px;
  width: 50vw;
  box-shadow: 1px 1px 1px purple;
  border: 3px solid black;
}

.projectButton:hover {
  cursor: pointer;
  background-color: purple;
  color: white;
  box-shadow: 2.5px 2.5px 5px;
}

.normal {
  padding-bottom: 15vh;
  background: #f3eaff;
}
