#allStudyLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.studyLogoDiv {
  width: 200px;
  height: 250px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 1px purple;
  border: 3px solid black;
}

.studyLabel {
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
}

#uwLogo {
  padding-top: 35px;
  width: 150px;
  text-align: center;
  margin: 0;
}
#nanjingNormalLogo {
  padding-top: 20px;
  width: 120px;
  align-self: center;
  margin: 0;
}

#ieLogo {
  padding-top: 10px;
  width: 125px;
  align-self: center;
  margin: 0;
}

#alchemyLogo {
  padding-top: 10px;
  width: 150px;
  margin: 5px 0 0 0;
}
