#studyTitle {
  font-size: 40px;
  text-align: center;
  padding-top: 75px;
}

#allStudyLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.studyLogoDiv {
  width: 175px;
  height: 225px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2.5px 2.5px 5px;
}

.studyLabel {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}

#uwLogo {
  padding-top: 35px;
  width: 150px;
  text-align: center;
  margin: 0;
}
#nanjingNormalLogo {
  padding-top: 20px;
  width: 120px;
  align-self: center;
  margin: 0;
}

#ieLogo {
  padding-top: 10px;
  width: 125px;
  align-self: center;
  margin: 0;
}

#alchemyLogo {
  padding-top: 25px;
  width: 150px;
  margin: 5px 0 0 0;
}
