#contactLogosDiv {
  padding-top: 20vh;
  padding-bottom: 24vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contactLogo {
  opacity: 0.75;
}

.contactText {
  text-align: center;
  color: purple;
}

.contactLogo:hover {
  opacity: 1;
  cursor: pointer;
}

#gmailLogo {
  width: 100px;
  height: 100px;
}

#gitHubLogo {
  width: 125px;
  height: 125px;
  margin: -25px 0 0 0;
}

#linkedInLogo {
  width: 100px;
  height: 100px;
}

#twitterLogo {
  width: 100px;
  height: 100px;
}
