#landing {
  position: relative;
  height: 100vh;
}

#landingImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#landingTitle {
  position: absolute;
  font-size: 50px;
  margin-top: 40vh;
  margin-left: 15vw;
}