nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99999;
}

.navLink {
  color: white;
  font-size: 25px;
}

#navBar {
  height: 8vh;
  background-color: purple;
}

.fixedNav {
  position: fixed;
  top: 0;
  height: 8vh;
  background-color: purple;
  width: 100%;
}
